<div class="page-header">
  <h1><%= @location.location_name %></h1>
  <h3>Coordinates: <%= @location.latitude %>, <%= @location.longitude %></h3>
  <%= link_to "Edit", edit_location_path %>
</div>
<table class="table table-striped">
  <thead>
    <th>Date</th>
    <th>Time to Pass</th>
    <th>Duration</th>
    <th>Rise Time</th>
  </thead>
  <%= will_paginate @iss_passes, renderer: BootstrapPagination::Rails %>
    <% @iss_passes.each do |pass| %>
      <tr>
        <td><%= Time.at(pass["risetime"].to_i).strftime('%A %B %e, %Y') %></td>
        <td><%= distance_of_time_in_words(Time.now, Time.at(pass["risetime"].to_i)) %></td>
        <td><%= Time.at(pass["duration"].to_i).strftime('%M') %>m <%= Time.at(pass["duration"].to_i).strftime('%S') %>s</td>
        <td><%= Time.at(pass["risetime"].to_i).strftime('%I:%M %P %Z') %></td>
      </tr>
    <% end %>
</table>