<div class="page-header">
  <h1><%= @location.location_name %></h1>
  <h3>Coordinates: <%= @location.latitude %>, <%= @location.longitude %></h3>
  <%= link_to "Edit", edit_location_path %>
</div>
<table class="table table-striped">
  <thead>
    <th>Date</th>
    <th>Duration</th>
    <th>Rise Time</th>
  </thead>
  <% @iss_passes.each do |pass| %>
    <tr>
      <td><%= Time.at(pass["risetime"].to_i).strftime('%A %b, %Y') %></td>
      <td><%= Time.at(pass["duration"].to_i).strftime('%M') %>m <%= Time.at(pass["duration"].to_i).strftime('%S') %>s</td>
      <td><%= Time.at(pass["risetime"].to_i).strftime('%I:%M %P %Z') %></td>
    </tr>
  <% end %>
</table>